@tailwind components;
@tailwind utilities;

@layer components {
    .main {
        @apply flex flex-col items-center w-full relative;
    }
    .main > .content {
        @apply w-full max-w-[90rem] pr-[max(env(safe-area-inset-right),1.5rem)] pl-[max(env(safe-area-inset-left),1.5rem)];
    }

    div.heroContainer {
        @apply py-16;
    }
    html:global(.dark) div.heroBg {
        background-image: linear-gradient(
            170deg,
            hsl(var(--nextra-primary-hue), 100%, 10%),
            transparent,
            transparent
        ) !important;
    }
    div.heroBg {
        @apply absolute top-0 w-full h-60;
        z-index: -1;
        background-image: linear-gradient(
            170deg,
            hsl(var(--nextra-primary-hue), 100%, 90%),
            transparent,
            transparent
        );
    }
    h1.mainTitle {
        @apply text-7xl font-bold;
    }
    p.mainDescription {
        @apply text-2xl font-light mt-4;
    }
    .mainLink {
        @apply text-2xl text-[hsl(var(--nextra-primary-hue),100%,50%)] hover:text-[hsl(var(--nextra-primary-hue),100%,70%)] transition flex flex-row items-center gap-4 w-fit leading-none;
    }
    .mainLink > svg {
        @apply h-6 w-6;
    }

    div.infoContainer {
        @apply py-16 bg-white;
    }
    div.infoContainer:nth-child(odd) {
        @apply bg-neutral-100;
    }
    div.infoContainer:nth-child(odd):last-of-type {
        @apply border-b border-neutral-200;
    }
    html:global(.dark) div.infoContainer:nth-child(odd):last-of-type {
        @apply border-b border-neutral-800;
    }
    html:global(.dark) div.infoContainer {
        @apply bg-transparent;
    }
    html:global(.dark) div.infoContainer:nth-child(odd) {
        @apply bg-black;
    }
    h2.infoTitle {
        @apply text-4xl font-bold;
    }
    p.infoSubtitle {
        @apply mt-4 text-xl;
    }
    div.infoCards {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-8 gap-8 relative;
    }

    div.wrappersContainer {
        @apply grid grid-cols-1 md:grid-cols-2 gap-8 items-start relative;
    }
    div.wrappersContainer > div {
        @apply w-full block;
    }

    .discordBanner {
        @apply relative mt-8 rounded overflow-hidden w-fit block h-16;
    }
    .discordBanner > img {
        @apply h-16;
    }
    .patreonLink {
        @apply relative mt-8 block h-10;
    }
    .patreonLink > img {
        @apply h-10 rounded;
    }

    .cardContainer {
        @apply p-4 rounded-xl bg-white flex flex-row gap-4 items-start border border-neutral-200 drop-shadow-sm;
    }
    html:global(.dark) .cardContainer {
        @apply bg-neutral-900 border-neutral-800;
    }
    .cardContainer .title {
        @apply text-xl font-bold;
    }
    .cardContainer .description {
        @apply text-base font-light mt-2;
    }
    .cardContainer .iconContainer {
        @apply h-10 w-10 block relative shrink-0;
    }
}
